.date-clock-cal__box {
  position: absolute;
  top: 2%;
  left: 1.5%;
  width: 100%;
}
.date-clock {
  cursor: pointer;
  position: absolute;
  font-size: 21px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.date-clock:hover {
  scale: 1.05;
  transition: 0.3s ease-in-out;
}
