#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: appearLoginBox 1s ease-in-out;
}

@keyframes appearLoginBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-box span {
  display: block;
  color: whitesmoke;
  font-size: 30px;
}

.login-box input {
  font-family: "Nanum Myeongjo", serif;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  font-size: 23px;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(245, 245, 245, 0.3);
  transition: 0.5s ease-in-out;
}

.login-box input:focus {
  border-bottom: 2px solid rgba(245, 245, 245, 1);
}

.logout-btn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  top: 93%;
  right: 1.5%;
  color: whitesmoke;
}

.logout-btn i {
  transition: 0.3s ease-in-out;
}

.logout-btn:hover > i {
  transform: scale(1.1);
}

.logout-btn span {
  font-family: "Nanum Myeongjo", serif;
  position: absolute;
  background-color: whitesmoke;
  color: black;
  font-size: 17px;
  width: 70px;
  font-weight: bold;
  text-align: center;
  padding: 5px 3px;
  border-radius: 5px;
  top: -110%;
  right: 55%;
  transform: translate(50%, 50%);
  opacity: 0;
  transition: 0.3s;

  visibility: hidden;
}

.logout-btn span::after {
  content: "";
  position: absolute;
  background-color: whitesmoke;
  width: 5px;
  height: 5px;
  transform: rotate(45deg) translatex(-50%);
  bottom: -5px;
  left: 50%;
}

.logout-btn:hover span {
  opacity: 1;
  visibility: visible;
}
